@font-face {
    font-family: "Copper Pot";
    src: url("fonts/copperpot-regular.woff2?815-hash") format("woff2");
    font-display: swap;
    font-synthesis:style;font-weight: 400
}

h1 {
    font-family: "Copper Pot";
    text-align: center;
    color: #141A25;
}

ul {
    list-style: none;
    padding-left: 0%;
    background-color: #d54215;
    text-align: center;
    padding: 7px 0;
}

li {
    display: inline;
}

li:not(:last-child) {
    padding-right: 150px;
}

li > a {
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 10px;
    transition: all .3s ease-in;
}

li > a:hover {
    background-color: white;
    color: #d54215;
}
